* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-custom thead th {
    background-color: #343a40;
    color: black;
    border-color: #454d55;
}

.table-custom tbody th,
.table-custom tbody td {
    vertical-align: middle;
}

.table-custom tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-custom tbody tr:hover {
    background-color: #e9ecef;
}

